@tailwind base;
@tailwind components;
@font-face {
    font-family: "Runda_Normal";
    src: url("./fonts/Runda_Normal.otf");
}

@font-face {
    font-family: "Runda_Light";
    src: url("./fonts/Runda_Light.otf");
}

@font-face {
    font-family: "Runda_Bold";
    src: url("./fonts/Runda_Bold.otf");
}

@tailwind utilities;